<div
    class="flex flex-col space-y-2 py-16 md:space-y-4 lg:h-[65vh] lg:justify-end lg:pb-12">
    <div class="absolute top-0 left-0 h-[95vh] w-screen -z-10">
      <span
        style="
          box-sizing: border-box;
          display: block;
          overflow: hidden;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0px;
          margin: 0px;
          padding: 0px;
          position: absolute;
          inset: 0px;
        "
        ><img
          ng-src ="slide.image"
          decoding="async"
          data-nimg="fill"
          alt="Creed III"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
          sizes="100vw"
          
      ></span>
    </div>
    <div class="content-section sm:p-0">
      <h1 class="lg:text-7xl text-white font-bold mb-5 mt-0">
        {{slide.title}}
      </h1>
      <br>
      <div class="font-bold inline flex ml-2 mr-2 text-white">0.0/5 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mr-2 ml-2" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mr-2 ml-2" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mr-2 ml-2" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mr-2 ml-2" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mr-2 ml-2" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg> 
      <small>. 6.8/10</small> <button class="bg-yellow-500 hover:bg-yellow-500 text-white font-bold py-0 px-2 rounded ml-2">
        IMDb </button></div>
    <h4 class="font-bold text-white">2023 . null. 5Seasons. Comedy . Thriller . Drama</h4>
    <p
      class="max-w-xs text-shadow-md text-justify text-gray-400 text-md md:text-md lg:max-w-6xl sm:max-w-lg "
    >
      After dominating the boxing world, Adonis Creed has been thriving
      in both his career and family life. When a childhood friend and
      former boxing prodigy, Damien Anderson, resurfaces after serving a
      long sentence in prison, he is eager to prove that he deserves his
      shot in the ring. The face-off between former friends is more than
      just a fight. To settle the score, Adonis must put his future on
      the line to battle Damien — a fighter who has nothing to lose.
    </p>
    <div class="pr-20">
      
      <button class="bannerButton flex items-center text-lg float-right text-white bg-[gray]/70 px-5 py-4" style="border-radius: 8px;border:none;">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 448 512"
          class=" text-white h-5 w-5 lg:h-7 lg:w-5 md:h-7 md:w-7 mr-5"
          height="0.8em"
          width="0.8em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
          ></path></svg>
       {{'HEADER.Watch Now'| translate}}
      </button>
    </div>
    </div>
</div>